@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  background-color: rgb(23, 36, 38);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(243, 244, 246);
}

ul {
  cursor: default;
}

.standard-btn {
  border-radius: 5px;
  background-color: #00bfc3;
  color: black;
  padding: 3px 15px;
}

.standard-btn-red {
  border-radius: 5px;
  background-color: rgba(239, 178, 11, 0.509);
  color: rgb(224, 224, 224);
  padding: 3px 15px;
}

.standard-btn:hover {
  background-color: #047d7f;
}

.standard-input {
  height: 30px;
  width: 220px;
  color: black;
  padding: 5px 10px;
  border-radius: 999px;
  box-shadow: 0 0 10px rgba(35, 44, 61, 0.1);
}

.text-10px {
  font-size: 10px;
}

input {
  outline: none;
}
