@keyframes moveForward {
    0% {
        transform: translateX(-100px); /* start position */
        opacity: 0; /* Fully transparent */
      }
      50% {
        transform: translateX(0); /* Movement */
        opacity: 1; /* Fully opaque */
      }
      100% {
        transform: translateX(100px); /* end position */
        opacity: 0;
      }
  }
  
  .animate {
    animation: moveForward 5s linear infinite; /* Adjusts the duration and timing */
  }